.grid-sizer,
.grid-item { 
    float: left;
    border-radius: 5px;
}
.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }


/* 2 columns wide */
.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

.capture{
    background-color:white;
}

.selected{
    border: 5px dashed gray;
}

.overlay{
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor:pointer;
}
.overlay:hover{
    -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.card{
    border:none;
    padding:0;
    margin:0;
}


.image-wrap{
    position: relative;
    overflow: hidden;
    padding:0;
    padding-top: 50%;
    border-style: none;
}

.image-wrap img {
    position: absolute;
    margin:0px;
    padding:0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: none;
}


